@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a07;
  --accent: #b29950;
  --subtle: #99a1af;
  --subtle-darker: #1e1e1e;
  --subtle-light: #2a2a2a;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-subtle: var(--subtle);
  --font-montserrat: var(--font-montserrat);
  --color-subtle-darker: var(--subtle-darker);
  --color-subtle-light: var(--subtle-light);
}

* {
  outline: none;
  scroll-behavior: smooth;
}
